<div class="usa-disclaimer">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <span class="usa-disclaimer-official">
        <%= image_tag 'singapore_lion.png',
          class: 'usa-flag_icon' %>
        A fork by Government Digital Services, Singapore of <a href="https://www.18f.gov">18f's</a> <a href="https://micropurchase.18f.gov/">micropurchase platform</a>
      </span>
    </div>
  </div>
</div>
