<section class="slab-intro usa-grid">
  <h1 class="intro-text">Welcome!</h1>
  <div class="usa-font-lead">
    <p>
      The govBuy Marketplace is the place to bid on open-source issues
      from the team at Government Digital Services, Singapore.
      <%= link_to 'Learn more about this experiment <icon class="fa fa-angle-double-right">'.html_safe,
        about_path %>
    </p>

    <p>
      Be sure to
      <%= link_to 'update your contact information', '/profile' %>
      before placing a bid. If you have any questions, please email us at
      <%= mail_to 'ace@ida-gds.com' %>.
    </p>
  </div>
</section>

