<section class="usa-grid">
  <h1>Rules for reverse auctions</h1>

  <p>A Reverse Auction is a standard reverse auction where bids begin at $5,000. The lowest possible bid is $1, and an auction automatically ends once a $1 bid has been submitted. Bidders are allowed to submit multiple bids throughout the duration of the auction.</p>

  <p>Bidders will see whether they are the winning bidder after submitting a bid, and will have an opportunity to submit a lower bid if the auction is still running. The GitHub user names of participating bidders are hidden during the auction. At the end of the auction, bidder GitHub accounts, and bid amounts will be unsealed and posted on the govBuy platform.</p>
</section>
