<section class="usa-grid">
  <h1>Rules for sealed-bid auction</h1>

  <p>A Sealed Bid Auction is a type of reverse auction. Each bidder is allowed to submit only one bid in an auction. Once a bid is submitted, the bidder may not submit a second bid for the same auction.</p>

  <p>Like the first form of the govBuy experiment, the lowest bidder at the conclusion of the auction will still win the auction. In the event that one or more bidders have the same bid amount, the bidder who was first to submit the lowest bid amount will win the auction.</p>

  <p>All bids will stay sealed until the end of the auction. A bidder will not know the amounts other bidders have bid on the auction, or how many bids have been submitted. At the end of the auction, bidder GitHub accounts, and bid amounts will be unsealed and posted on the govBuy platform.</p>
</section>