<% content_for :title do %>govBuy - Login - Government Digital Services, Singapore<% end %>
<% content_for :description do %>Login or create an account to participate in govBuy auctions.<% end %>

<div class="usa-grid">
  <div class="usa-width-one-half">
    <h1>Sign in</h1>
    <p>
      <%= link_to 'Authorize with GitHub',
        '/auth/github',
        class: 'usa-button usa-button usa-button-outline' %>
    </p>
  </div>

  <div class="usa-width-one-half">
    <h2>Sign up</h2>
    <p>
      To participate in this marketplace, you need to sign in with a <%= link_to 'GitHub', 'https://github.com/' %> account.
    </p>
    <p>
      <%= mail_to 'ace@ida-gds.com', 'Drop us a line' %> if you have any questions.
    </p>
     <%= link_to 'Authorize with GitHub',
        '/auth/github',
        class: 'usa-button usa-button usa-button-outline' %>
  </div>
</div>
