<%= render partial: 'admin/people_subnav', locals: { view_model: @view_model } %>

<table class="usa-table-borderless" id="table-users">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email address</th>
    </tr>
  </thead>
  <tbody>
    <% @view_model.users.each do |user| %>
      <tr>
        <td><%= link_to user.name, admin_user_path(user.id) %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
