<% content_for :title do %>GovBuy - About - Government Digital Services, Singapore<% end %>
<% content_for :description do %>About the GovBuy platform.<% end %>

<div class="usa-grid">
  <h1>The GovBuy experiment</h1>

  <p>govBuy is a new platform that allows anyone to provide microservices, software libraries, non-critical bug fixes and more to government agencies.</p>
  <p>Initiated by the Government Digital Services team, the current site is a prototype forked from 18F, that we are using to gauge interest and feasibility in Singapore. Bidding closes on Friday, 30 September 2016.</p>
  <p>Find out more about <a href="https://medium.com/singapore-gds/govbuy-how-government-can-buy-software-quickly-35475d4e9eab">why we’re running this experiment</a>.</p>

  <h2>How it works</h2>
  <ol>
    <li>Government agencies post a task or project</li>
    <li>Anyone can bid to take on the project during the bidding period. Bids are capped at $5,000 and the lowest bid wins.</li>
    <li>The winner submits their code and if it meets the requirements and deadline set out in the task, they get paid.</li>
  </ol>

  <p>If you’d like to be a part of the experiment, read on to find out how to submit a bid.</p>

  <h2>How to bid</h2>

  <p>Help us trial govBuy. Here's how you can submit a bid.</p>

  <ol>
    <li><b>Check out the tasks.</b> Each task on govBuy has detailed requirements, so you can accurately gauge how much work is involved. These requirements are also the acceptance criteria for your code.</li>
    <li>
      <p><b>Submit a bid.</b> Decide what’s a fair rate for doing the task and put in your bid. Each task specifies a maximum bid, capped at $5,000, with $1 the lowest possible bid.</p>
      <p>
    </li>
    <li>
      <p><b>Lowest bid wins.</b> In all auctions, the lowest bid wins. If you’re the winner, you’ll have to submit your code within the timeframe given in the task. If your code meets all the stated requirements by the given deadline, you’ll get paid what you bid.</p>
      <p>If your code doesn’t meet the requirements, we’ll reopen the auction. Sadly, you won’t get paid.</p>
    </li>
  </ol>
</div>
