<% content_for :title do %>GDS Micro-purchase - Policies and Guidelines<% end %>
<% content_for :description do %>Important information and frequently asked
  questions about the Micro-purchase platform.<% end %>

<div class="usa-grid">
  GDS Micro-purchase is currently in alpha. Please email us at <%= mail_to 'ace@ida-gds.com' %> for more information.
</div>
