<% content_for :title do %>GovBuy - Policies and Guidelines - Government Digital Services, Singapore<% end %>
<% content_for :description do %>About the GovBuy platform.<% end %>

<div class="usa-grid">
  <h1>The GovBuy experiment</h1>
  <p>There are two main ways for government employees to make purchases – invitation to tender (for high value purchases), and small value purchases (for things that cost less than $5,000).</p>

  <p>Usually small value purchases are used to buy off-the-shelf hardware, software or office supplies. What if we could use it to buy microservices (small pieces of software that can be deployed independently), software libraries, non-critical bug fixes or even customised hardware?</p>

  <p>GovBuy, inspired by 18F’s Micro-Purchase Marketplace, aims to fill this gap. This platform allows government employees to post projects or tasks capped at $5,000. Developers can then bid on these projects.</p>

  <h2>Why do we need to buy software when we have a software development team?</h2>

  <p>GovBuy provides a way for development teams to outsource technical spikes and non-critical bug fixes that have lower priority in the product backlog. This means that teams can reduce technical debt and deliver a better product.</p>

  <p>It makes it easier for teams to co-create with citizens and engage everyone in the tech community – freelancers, students, small companies. Not just those with the resources to bid for large tenders. By levelling the playing field and giving more people the opportunity to participate, we hope to foster a greater interest in technology, especially among our youth.</p>

  <p>The platform also helps us spot and grow talent. Students and junior technical talents will have more avenues to work on real-world problems and get practical experience. If the platform attracts a large number of students, we can use it to set up a talent pipeline with local schools.</p>

  <p>Finally, we can use this to introduce open source software to government agencies in small steps.</p>

  <h2>How it works</h2>
  <p>The platform allows government employees to post a task or project. Anyone can bid to take on the project during the bidding period. The reverse auction starts at $5,000 and the lowest bid wins.</p>

  <p>The winner works on the project and submits their code to the team. If the code meets the acceptance criteria before the deadline, they are sent a cheque for their work.</p>

  <p>The current site is a prototype that we are trialling to gauge interest and feasibility.</p>

  <a href="https://idagds.github.io/mp-intro/#/">View the slides here</a>
</div>
