<% content_for :title do %>GovBuy - About - Government Digital Services, Singapore<% end %>
<% content_for :description do %>About the GovBuy platform.<% end %>

<div class="usa-grid">
  <a id="about"></a>
  <h1>The GovBuy experiment</h1>

  <p>govBuy is a new platform that allows anyone to provide microservices, software libraries, non-critical bug fixes and more to government agencies.</p>
  <p>Initiated by the Government Digital Services team, the current site is a prototype forked from 18F,  that we are using to gauge interest and feasibility in Singapore. Bidding closes on Friday, 30 September 2016.</p>
  <p>Find out more about <a href="#why-govbuy">why we’re running this experiment</a>.</p>

  <h2>How it works</h2>
  <ol>
    <li>Government agencies post a task or project</li>
    <li>Anyone can bid to take on the project during the bidding period. Bids are capped at $5,000 and the lowest bid wins.</li>
    <li>The winner submits their code and if it meets the requirements and deadline set out in the task, they get paid.</li>
  </ol>

  <p>If you’d like to be a part of the experiment, read on to find out how to submit a bid.</p>

  <a id="how-to-bid"></a>
  <h2>How to bid</h2>

  <p>Help us trial govBuy. Here's how you can submit a bid.</p>

  <ol>
    <li><b>Check out the tasks.</b> Each task on govBuy has detailed requirements, so you can accurately gauge how much work is involved. These requirements are also the acceptance criteria for your code.</li>
    <li>
      <p><b>Submit a bid.</b> Decide what’s a fair rate for doing the task and put in your bid. Each task specifies a maximum bid, capped at $5 000, with $1 the lowest possible bid.</p>
      <p>
    </li>
    <li>
      <p><b>Lowest bid wins.</b> In all auctions, the lowest bid wins. If you’re the winner, you’ll have to submit your code within the timeframe given in the task. If your code meets all the stated requirements by the given deadline, you’ll get paid what you bid.</p>
      <p>If your code doesn’t meet the requirements, we’ll reopen the auction. Sadly, you won’t get paid.</p>
    </li>
  </ol>

  <a id="faq"></a>
  <h1>FAQ</h1>

  <p>Here are the answers to some common questions people have been asking about govBuy. If you have a question that isn’t listed here, <a href="mailto:ace@ida-gds.com">drop us a line</a> or <a href="https://goo.gl/forms/lKdnNHYdQHEFhaTw1">leave some feedback</a>.</p>

  <ol>
    <li>
      <h3>What is govBuy?</h3>
      <p>govBuy is a new platform that allows anyone to provide microservices, software libraries, non-critical bug fixes and more to government agencies.
Initiated by the Government Digital Services team, the current site is a prototype forked from 18F,  that we are using to gauge interest and feasibility in Singapore.</p>
    </li>

    <li>
      <a id="why-govbuy"></a>
      <h3>Why do we need govBuy?</h3>
      <p>govBuy makes it easier for teams to co-create with citizens and engage everyone in the tech community – freelancers, students, small companies. Not just those with the resources to bid for large tenders. By levelling the playing field and giving more people the opportunity to participate, we hope to foster a greater interest in technology, especially among our youth.</p>

      <p>It provides a way for development teams to outsource technical spikes, non-critical bug fixes and other small tasks that have lower priority in the product backlog. This means that teams can reduce technical debt and deliver a better product.</p>

      <p>The platform also helps us spot and grow talent. Students and junior technical talents will have more avenues to work on real-world problems and get practical experience. If the platform attracts a large number of students, we can use it to set up a talent pipeline with local schools.</p>

      <p>Finally, we can use this to introduce open source software to government agencies in small steps.</p>
    </li>

    <li>
      <h3>How does govBuy work?</h3>

      <p>1. Government agencies post a task or project.</p>
      <p>2. Anyone can bid to take on the project during the bidding period. Bids are capped at $5,000 and the lowest bid wins.</p>
      <p>3. The winner submits their code and if it meets the requirements and deadpne set out in the task, they get paid.</p>
    </li>

    <li>
      <h3>How do I submit a bid?</h3>

      <p>1. <b>Check out the tasks.</b> Each task on govBuy has detailed requirements, so you can accurately gauge how much work is involved. These requirements are also the acceptance criteria for your code.</p>
      <p>
        <p>2. <b>Submit a bid.</b> Decide what’s a fair rate for doing the task and put in your bid. Bids begin at $5000, with $1 the lowest possible bid.</p>

        <p>There are 2 types of auctions – open and sealed.</p>

        <p>Open auctions can be seen by everyone. You’ll be able to see if someone bids lower than you and you can choose to change your bid as many times as you like. When the auction is over, the GitHub accounts and their bids will be revealed on govBuy.</p>

        <p>Sealed auctions only allow 1 bid and you won’t be able to see any bids during the auction. If 2 people submit the same bid amount, the first to submit wins. But at the end of the auction, all is revealed just like open auctions.</p>
      </p>
      <p>
        <p>3. <b>Lowest bid wins.</b> In all auctions, the lowest bid wins.</p>
        <p>If you’re the winner, you’ll have to submit your code within the timeframe given in the task. If your code meets all the stated requirements by the given deadpne, you’ll get paid what you bid.</p>
        <p>If your code doesn’t meet the requirements, we’ll reopen the auction. Sadly, you won’t get paid.</p>
      </p>

    </li>

    <li>
      <h3>How will you vet the winners of the bids?</h3>
      <p>Each task listed for auction has a set of specific requirements. Providing clear and detailed requirements helps bidders accurately gauge the amount of work that goes into a task, so they can put in a fair bid. These requirements also double up as the acceptance criteria for the work submitted.</p>

      <p>As part of the objective of govBuy is to provide learning opportunities, our intent is to let someone’s code do the talking. If the code is good, it shouldn’t matter if someone is a student, self-taught or an experienced developer. We want to give everyone a chance. That’s why the requirements are so important.</p>
    </li>

    <li>
      <h3>How will you ensure you’re getting the best code?</h3>
      <p>Each task listed for auction has specific requirements that must be met before the winner of the auction is paid. The clear requirements help you gauge the amount of work required for the task and it becomes the acceptance criteria for any code you submit.</p>
      <p>govBuy is still an experiment though, so if you have a better idea, <a href="mailto:ace@ida-gds.com">tell us about it</a>.</p>
    </li>

    <li>
      <h3>Won’t picking the lowest bid devalue engineering work?</h3>
      <p>We’re engineers too so it’s definitely not our intention to devalue engineering work. That’s why we’re clear and transparent about the requirements for each task. So you can accurately gauge how much effort is required.</p>
      <p>We’re also experimenting with both open and sealed bids to see which works better. If you have feedback or ideas, we’d love to hear how we can <a href="mailto:ace@ida-gds.com">make govBuy better</a>.</p>
    </li>

    <li>
      <h3>Will outsourcing these coding portions compromise security?</h3>
      <p>Outsourcing through govBuy is similar to working with any open source software. We need to fully understand what we’re integrating into our project and do the necessary checks to ensure security.</p>
    </li>

    <li>
      <h3>What if the work meets the requirements but isn’t delivered on time?</h3>
      <p>The meeting the deadline is an important part of the acceptance criteria. As all working professionals know, it’s not enough to deliver a project, it must be delivered on time.</p>
      <p>If any of the requirements are not met, the auction is re-opened. Nobody gets paid and we won’t use their work.</p>
    </li>

    <li>
      <h3>Do I have to provide further support for the portion I code?</h3>
      <p>During the review process, we might discuss the work you’ve submitted with you and ask for clarifications. Once the work is accepted and you’ve been paid, we don’t expect you to provide any further support. If you wish to continue your involvement, you are welcome to do so. But you do not need to do so in order to get paid.</p>
    </li>

    <li>
      <h3>Isn't this more work for your team since you have to write the requirements, check implementation and review the code? Wouldn’t it be easier to do the work yourself?</h3>
      <p>Our role isn’t just to deliver high quality digital products and services. It’s also to lead, engage and support the tech community in any way we can.</p>
      <p>We actively participate in many initiatives, i.e. taking on interns, organising and participating in tech meet-ups, blogging about our projects, processes and challenges, that could be seen as ‘non-essential’ in the corporate world. We see it as doing our part to nurture young talent, support the community and grow our skills together.</p>
    </li>

    <li>
      <h3>What is the long term plan for this platform?</h3>
      <p>It all depends on how our experiment turns out. That’s how Agile product development works. We prototype quickly, test and iterate.</p>
      <p>We encourage everyone to <a href="/sign_up">try it out</a> and <a href="mailto:ace@ida-gds.com">leave your feedback</a> so we can improve.</p>
    </li>
  </ol>
</div>
